.idea
.phpunit.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml.dist
phpstan.neon.dist
testbench.yaml
vendor
node_modules
*.log
.DS_Store
.env
.env.backup
.phpunit.cache/
.vscode/
*.backup.*
